
<%= @graph.get_connection('me', 'posts', {
    limit: 5,
    fields: ['message', 'id']}) %>
<br>

<% @user.each do |post| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
        </h3>
      </div>
      <div class="panel-body">
        <%= post['message'] %>
      </div>
      <div class="panel-footer">
        <div style="float:right">
          <%= post['created_time'] %>
        </div>
      </div>
    </div>
<% end %>
</tbody>



<br>
<%= @graph.get_object('14117761406?fields=feed.limit(10)') %>

<% @group.each do |post| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
        </h3>
      </div>
      <div class="panel-body">
        <%= post['message'] %>
      </div>
      <div class="panel-footer">
        <div style="float:right">
          <%= post['created_time'] %>
        </div>
      </div>
    </div>
<% end %>
</tbody>