<% @post.each do |post| %>
    <% reply = post['comments'] %>
    <% parse = JSON.generate(reply) %>
    <% parsed = JSON.parse(parse) %>
    <% if !parsed.nil? && parsed["data"][0]["from"]["id"] == '10100287658721706' %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= post['from']['name'] %>
            <%= post['from']['id'] %>
          </h3>
        </div>
        <div class="panel-body">
          <%= post['message'] %>
        </div>
        <div class="panel-body">
          <div align="center">
            <img src=<%= post['full_picture'] %>>
          </div>
        </div>
        <div class="panel-footer">
          <div align="right">
            <% uploaded = post['updated_time'] %>
            <%= DateTime.parse(uploaded).strftime("%b %e, %l:%M %p") %>
          </div>
        </div>

        <div class="panel-body">
          <% if parsed.nil? %>
              <%= "no posts yet!" %>
          <% else %>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <%= pp parsed["data"][0]["from"]["name"] %>
                    </p>
                  </h3>
                </div>
                <div class="panel-body">
                  <%= pp parsed["data"][0]["message"] %>
                </div>
                <div class="panel-footer">
                  <div align="right">
                    <% reply_time = parsed["data"][0]["created_time"] %>
                    <%= DateTime.parse(reply_time).strftime("%b %e, %l:%M %p") %>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
        <% end %>
<% end %>